<%= render "list", book: @books,  user: @user %>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
           <%= image_tag user.get_image(100,100) %><br>
            <%= link_to user_path(current_user.id) do %>
            <%= user.name %>>
            <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
          <p><%= book.title %></p>
          <% end %>
        </td>
        <td>
          <%= book.body %>
        </td>
        <td>
          <%= link_to "Edit", edit_book_path(book.id), class: "btn btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to "Destroy",book_delete_path(book.id),method: :delete, "data-confirm" =>"本当に削除しますか？", class: "btn btn-sm btn-dang"  %>
        </td>
      </tr>
    </tbody>
  </table>
</div>